h1{      
    margin: 0;      
    text-align: center;     
    padding 0 ;     
         
}      
h2{      
    color: #212121;      
    font-size: 36px;      
    line-height: 1.67;      
    font-weight: bold;      
    text-align: center;      
    margin-top: 0;     
    margin-bottom: 0;     
    padding: 0;     
         
}      
      
h3{      
    color: #212121;      
    font-size: 14px;     
    line-height: 1.14;      
    font-weight: bold;      
    letter-spacing: 0.03em;     
        
         
    padding: 0;     
    margin: 0;  
      
}     
p{     
    margin: 0;     
    padding: 0;     
}     
img{     
    display: block;     
}     
ul{     
    margin: 0;     
    padding: 0;     
}     
:root{      
    --main-phon-color: #ffffff;;      
    --primery-text-color: rbga(0,0,0,0.5);      
    --accent-color: #2196f3;      
    --button-title-color: #ffffff;      
    --accent-focus-color: #000000;      
    --low-accent-color: #f5f4fa;      
    --hero-phon: #2f303a;      
    --filtr-phon: #f5f4fa;      
    --filtr-title: #212121      
    --team-speciality: ;      
}      
body{      
    width: ;      
    margin: 0;      
    padding: 0;
    padding-top: 80px;
    background-color: var(--main-phon-color);      
    color: var(--primery-text-color);      
    font-family: "Roboto",Sans-Serif;      
}      
      
.logo{      
    text-decoration: none;      
    color: #2196f3;      
    width: 145px;      
    height: 31px;      
    font-family: "Railway";      
    font-style: normal;      
    font-weight: bold;      
    font-size: 26px;      
    line-height: 1.2;      
    letter-spacing: 0.06em;      
    background-color: ;      
    align-items: center;      
}      
.studio-black{      
    color: #000000;      
}      
.studio-white{      
    color: #ffffff;      
}      
        
      
.container{      
    width: 1200px;      
    padding-left: 15px;      
    padding-right: 15px;      
    margin-left: auto;      
    margin-right: auto;      
          
}      
.header-nav{  
    position: fixed;
    width: 100%;
    height:80px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;  
    display: flex;      
    align-items: center;      
      
}      
      
      
      
.list{    
    list-style: none;    
}    
.flex{      
    list-style: none;      
    display: flex;     
    margin-bottom: 0;     
    margin-top: 0;     
    padding-bottom: 0;     
    padding-top: 0;     
        
      
}      
.site-nav{      
        
    display: flex;   
    font-size: 14px;      
    line-height: 1.14;      
        
    letter-spacing: 0.02em;      
    
    align-items: center;      
}      
      
.nav{     
    margin-left: 93px;     
       
}   
.nav .item{
    position: ;
  /*  height: 48px;
    outline: 2px solid red;*/
    margin-top: ;
    margin-right: 30px;   
}

.item.lowline{
    position: ;
    bottom: 0;
    height: 40px;
    background-color: blue;
}
.contacts{      
    display: flex;     
    margin-left: auto;   
    color: #757575; 
    justify-content: ; 
    align-items: center; 
    width: ; 
    height: ; 
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
   
      
      
}      
.contacts .item:first-child{     
    margin-right: 30px;
    
}      


.contacts .net-email{ 
    fill: currentColor; 
    width: 16px; 
    height: 12px; 
    margin-right: 10px; 
}           
.contacts .net-tel{ 
    fill: currentColor; 
    width: 10px; 
    height: 16px; 
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}           
      
.link,      
.current{      
    text-decoration: none;      
    padding-bottom: 0;      
    padding-top: 0;     
    margin: 0;     
}      
.site-nav .link,
.contacts .link{      
    color: var(--accent-focus-color);      
}       
.site-nav .link:hover,      
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus{      
    color: var(--accent-color); 
}      
.site-nav .current{      
    color: var(--accent-color);
    content: "";
    display: block;
    position: relative;
    height: ;
   
    

}
.site-nav .current::after{
    position: absolute;
    display: flex;
    content: "";
    bottom: -32px;
    left: 0;
    height: 4px;
    width: 100%;
    border: 2px solid var(--accent-color);
    border-radius: 2px;
}
.overlay{      
    display: block; 
    max-width: 1600px;      
    min-height:; 
 
    margin-left: auto;     
    margin-right:auto;     
    padding-top: 200px;     
    padding-bottom: 200px ;     
    margin-bottom: ;     
    margin-top: ;     
         
          
    background-image: linear-gradient( 
        rgba(47,48,58,0.4), 
        rgba(47,48,58,0.4) 
        ), 
     url(../images/hero-phon.jpg);      
    background-color: #c4c4c4;    
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center; 
    justify-content: center; 
    text-align: center;      
}      
      
.hero-title{      
    color: #ffffff;      
    font-weight: 900;      
    font-size: 44px;      
    line-height: 1.36;      
    letter-spacing: 0.06em;      
}      
.cervis{      
    display: inline-block;      
    font-weight: bold;      
    font-size: 16px;      
    line-height: 1.87;      
    background-color: var(--accent-color);      
    color: var(--button-title-color);     
    align-items: center;      
    text-align: center;      
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);      
    letter-spacing: 0.06em;      
        
    border-radius: 4px; 
    border: transparent;      
    padding: 10px 32px; 
    margin-top: 30px;      
}      
.cervis:hover,      
.cervis:focus{      
    background-color: var(--button-title-color);      
    color: var(--accent-color);      
} 
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47,48,58,0.8);
    transition: opacity 250ms cubic-bezier(0.4,0,0.2,1),
                visibility 250ms cubic-bezier(0.4,0,0.2,1)  ;
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 581px;
    min-width: 528px;
    padding: 15px;
    background-color: #ffffff; 
}   
.close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: var(--main-phon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close_icon{
    display: flex;
    width: 18px;
    height: 18px;
    fill: ;
}  
.work-tesis {      
    padding-top: 94px;     
    padding-bottom: 94px;     
}      
.work-tesis .item::before{      
    display: block;      
    content: "";      
    min-width: 270px;      
    height:120px;      
         
    background-size: contain;   
    background-color: ;   
          
    background-repeat: no-repeat;      
    background-position: center;     
    margin-bottom: 30px;     
    margin-top: 0;     
    padding: 0;     
          
}      
.item.icon-locator::before{      
    background-image: url(../images/Group1.svg);      
}      
.item.time::before{      
    background-image: url(../images/Group2.svg);      
}      
      
.item.grafic::before{      
    background-image: url(../images/Group3.svg);      
}      
.item.future::before{      
    background-image: url(../images/Group4.svg);      
}      
      
.work-tesis .item:not(:last-child){      
          
    margin-right: 30px;      
         
         
}      
.tesis{      
    color: #757575;      
    width: 270px;      
    height: 75px;      
    font-family: "Roboto";      
    font-style: normal;      
    font-weight: normal;      
    font-size: 14px;      
    line-height: 1.71;      
    letter-spacing: 0.02em;     
    margin-top: 10px;     
}          
.job-list{      
    padding-top: ;     
    padding-bottom: 94px;     
}          
.boxes{      
         
    margin-top: 50px;     
    margin-left: ;     
    padding-top: ;      
}       
      
.item:first-child{      
    margin-left: ;     
}      
.job-list .item:not(:last-child){
    margin-right: 30px;
}      
.job-card{
    display: block;
    position: relative;
    color: ;
    content: "";
    transform: translate(0,0);
    top: ;
    left: ;
    width: 100%;
    height:100%;
    outline: ;
    align-items: ;
    background-color:;
    opacity: 1;
    z-index: ;
}
.jobs{
    position: absolute;
    display: flex;
    content: "";
    transform: translate(0,0);
    bottom: 0;
    left: ;
    width: 100%;
    height:25%;
    justify-content: center;
    align-items: center;
    text-align: ;
    outline: ;
    background-color: rgba(47,48,58,0.8);
    opacity: ;
    z-index: ;
}
.job-name{
    display:flex ;
    position: ;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03;
    opacity: 1;
    z-index: ;
}
          
     
      
     
.comanda-list .link,      
.projects-list .link{      
    color: #757575;      
    background-color: #ffffff;      
    font-size: 16px;      
    line-height: 1.19;      
    text-align: ;      
    letter-spacing: 0.03em;;
}  
.comanda-list .link{  
    text-align: center;  
}  
.comanda-list{     
    padding-top: 94px;     
    padding-bottom: 94px;    
    background-color: #F5F4FA;     
}     
.team{     
    margin-top: 50px;     
}     
.team .item{     
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.14), 0 2px 1px rgba(0,0,0,0.2);     
    border-radius: 0 0 4px 4px;     
}     
     
.comanda-list .item:not(:last-child){     
     margin-right: 30px;       
}     
.name-up-down{     
    padding-top: 30px;     
    padding-bottom: 10px;     
}     
.net-up-down{     
         
    padding-left: 32px;     
    padding-top: 16px; 
padding-bottom: 30px; 
align-items: center; 
         
}     
.client-list{     
    padding-bottom: 94px;     
    padding-top: 94px;     
     
}     
     
.client{     
    margin-top: 50px;    
    box-sizing: border-box;  
}     
.client-list .logotype{      
    width: 170px;      
    height: 90px;      
    outline: 1px solid #AFB1B8;
    color: #AFB1B8;
    box-sizing: border-box;      
    border-radius: 4px;      
    margin-right: 30px;     
         
    margin-left: 0;      
    list-style: none;      
    display: flex;      
    content:"";      
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;      
    background-position: center;      
        
}     
.logotype:last-child{   
margin-right: 0;     
}
.logotype:hover,
.logotype:focus{
    outline: 1px solid var(--accent-color);
    color: var(--accent-color);
}
.logo1{
    fill: currentColor;
    width: 45px;
    height: 50px;
}
.logo2{
    fill: currentColor;
    width: 40px;
    height: 52px;
}
.logo3{      
    fill: currentColor;
    width: 41px;
    height: 43px;
}
.logo4{      
    fill: currentColor;
    width: 80px;
    height: 43px
}
.logo5{
    fill: currentColor;
    width: 59px;
    height: 47px;
}      
.logo6{      
    fill: currentColor;
    width: 89px;
    height: 46px;
}      
      
      
footer{      
        
}      
.ground-floor{   
    background-color: #2f303a;
}

.low{    
    display: ;   
}    
    
.low-nav {   
    padding-top: 60px;     
    padding-bottom: 60px;   
}      
.low-nav .logo{     
    padding-bottom: 20px;     
}      
.low-nav .link{      
    color: var(--low-accent-color);   
          
}      
.low-nav .link:hover,      
.low-nav .link:focus{      
    color: orange;      
}    
.address-list {   
    font-style: normal;   
}   
.address-list .item:not(:last-child){   
    margin-bottom: 9px;   
}       
    
.net-list {  
    color: #ffffff;  
    font-size: 14px;     
    line-height: 1.14;     
    font-weight: bold;     
    letter-spacing: 0.03em;     
    text-transform: uppercase;     
    margin-left: 70px;  
    padding-top: 60px  
}    
.net-list .flex{  
    padding-top:20px;   
} 
.proba{ 
    align-items:; 
} 
.net-up-down-footer{     
         
    padding-left: ;     
    padding-top: 16px; 
padding-bottom: 30px; 
align-items: center; 
         
}     
.net{ 
   
   
    display: flex; 
    content: ""; 
    width: 44px; 
    height: 44px; 
    color: #AFB1B8; 
    background-color: #ffffff10; 
    border-radius: 50%; 
    justify-content: center; 
    align-items: center; 
    margin-right: 10px; 
} 
.net:hover, 
.net:focus{ 
    color: #ffffff; 
    background-color: var(--accent-color); 
} 
.net .net-icon{ 
    fill: currentColor; 
    width: 20px; 
    height: 20px; 
    position: ; 
} 
 
     
.simb::after{     
    list-style:none ;     
    display: block;     
    content: "";     
    width: 44px;       
    height: 44px;     
    background-repeat: no-repeat;     
    background-position: center;     
    background-size: cover;     
    margin-right: 10px;     
}     
.simb.n1::after{     
    background-image: url(../images/Ellipse1.svg);     
}     
.simb.n2::after{     
    background-image: url(../images/Ellipse2.svg);    
}     
.simb.n3::after{     
    background-image: url(../images/Ellipse3.svg);
}     
.simb.n4::after{     
    background-image: url(../images/Ellipse4.svg);     
}     
.simb.n5::after{     
    background-image: url(../images/icons.svg#instagram);     
} 
.simb.n5::after(:hover), 
.simb.n5::after(:focus){     
    background-image: url(../images/insta-blue.svg);     
}    
.simb.n6::after{     
    background-image: url(../images/Ellipse6.svg);     
}     
.simb.n7::after{     
    background-image: url(../images/Ellipse7.svg);     
}     
.simb.n8::after{     
    background-image: url(../images/Ellipse8.svg);     
}              
 
      
      
<!--portfolio-->      
      
.filtr-list{   
         
         
}     
      
.filtr-list .flex{     
       
    justify-content: center;   
    padding-top: 102px;   
    padding-bottom: 34px;     
}      
.filtr-list .filtr,      
.primary{      
    min-width: none;      
    display: inline-block;      
    font-weight: 500;      
    font-size: 16px;      
    line-height: 1.62;      
    background-color: ;      
    cursor: pointer;      
    text-align: center;      
    letter-spacing: 0.03em;   
    border: 0;   
    border-radius: 4px;     
    padding: 6px 22px;     
         
}      
.filtr-list .filtr{      
   background-color:var(--filtr-phon);      
   color: var(--filtr-title);   
         
}     
.filtr-list .primary,      
.filtr:hover,      
.filtr:focus{ 
background-color: var(--accent-color);      
    color: var(--button-title-color);   
         
}     
.filtr-list .item{      
    margin-right: 8px;     
}     
     
      
.projects-list {      
      padding-bottom: 86px;     
    list-style: none;      
    display: flex;      
    flex-wrap: wrap;      
    margin-left: ;      
     
}      
.projects-list .item{      
    position: ;      
    width: 370px;      
    margin-right: 30px;      
    margin-bottom: 30px;      
    background-color: ;      
    border: 1px solid #EEEEEE;  
    align-items: center;  
    padding-bottom:;  
         
}  
.projects-list .item:focus,     
.projects-list .item:hover{  
background: #FFFFFF;  
border: 1px solid #EEEEEE;  
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}   
.projects-list .item:nth-child(3n){      
    margin-right: 0px;     
}     
.projects-list .item:nth-last-child(-n+3){      
    margin-bottom: 0;      
}
/*
.product-th::before{
    position: absolute;
    display: flex;
    content: "";
   transform: translate();
    top: ;
    left: ;
    width: 100%;
    height: 100%;
   
    background-color: rgba(33,150,243,0.9);
    opacity: 0;
}
.product-th:hover::before,
.tehno:hover{
    opacity: 1;
    transition: 500ms opacity linear;
}
.tehno{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: ;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-transform:uppercase;
    padding-left: 24px;
    padding-right:24px; 
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03;
    opacity: 0;
}*/
.projects-name{
    position: relative;
    bottom: ;
    left: ;
    content: "";
    height: 294px;
    width: 370px;
    display: block;
    overflow: hidden;
    opacity: 1;
}
.projects-name .visual{
    position: absolute;
    content: "";
    display: block;
    height: 294px;
    width: 100%;
    opacity: 1;
    overflow:hidden;
    margin-bottom: ;
    
}
.projects-name .bajick{
    position: absolute;
    content:"";
    display: block;
    bottom: 0;
    opacity: 1;
    
   
}

.projects-name:hover .submenu{
    display:;
   
    opacity: 1;
    transform: translateY(0);
    
}
.submenu{
    position: absolute;
    padding: 0;
    margin: 0;
    height: 294px;
    width: 100%;
    list-style: none;
    background-color:rgba(33,150,243,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-transform:uppercase;
    padding-left: 24px;
    padding-right:24px; 
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03;
    transform: translateY(294px);
    opacity: 0;
    overflow: ;
    pointer-events: none;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4,0,0.2,1), transform 2500ms cubic-bezier(0.4,0,0.2,2.1);
    z-index: 2;
}
.toponim{  
    height: 36px;  
    background-color: ;  
    padding-top: 10px;  
    margin-top: 20px;  
    padding-left: 24px;
    padding-right: 24px;
    align-self: ;  
}  
.selection{  
    height: 24px;  
    background-color:;  
    padding-top: 2px;  
    margin-top: 4px;  
    margin-bottom: 20px; 
    padding-left: 24px;
    padding-right: 24px;
}
