
.contacts{       
    display: flex;      
    margin-left: auto;    
    color: $comanda-list-color;
    align-items: center;  
    font-family: Roboto; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 14px; 
    line-height: 16px; 
    letter-spacing: 0.02em;      
    & .item:first-child{      
        margin-right: 30px; 
    }    
    & .net-email{  
        fill: currentColor;  
        width: 16px;  
        height: 12px;  
        margin-right: 10px;  
    }            
    & .net-tel{  
        fill: currentColor;  
        width: 10px;  
        height: 16px;
        margin-right: 10px; 
        justify-content: center; 
        align-items: center; 
    }
    & .link{       
        color: $accent-focus-color;
        &:hover, 
        &:focus{       
            color: $accent-color;  
        }       
    }          
}
@media screen and (min-width: 768px) and (max-width: 1199px)
.contacts {
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (max-width: 767px)
.contacts {
    display: none;
}
