.filtr-list .flex{      
        
    justify-content: center;    
    padding-top: 102px;    
    padding-bottom: 34px;      
}       
.filtr-list .filtr,       
.primary{       
    min-width: none;       
    display: inline-block;       
    font-weight: 500;       
    font-size: 16px;       
    line-height: 1.62;
    cursor: pointer;       
    text-align: center;       
    letter-spacing: 0.03em;    
    border: 0;    
    border-radius: 4px;      
    padding: 6px 22px;      
          
}       
.filtr-list .filtr{       
   background-color: $filtr-phon;       
   color: $filtr-title;    
          
}      
.filtr-list .primary,       
.filtr:hover,       
.filtr:focus{  
background-color: $accent-color;       
    color: $button-title-color;    
          
}      
.filtr-list .item{       
    margin-right: 8px;      
}