.logo{       
    text-decoration: none;       
    color: $accent-color;       
    width: 145px;       
    height: 31px;       
    font-family: "Railway";       
    font-style: normal;       
    font-weight: bold;       
    font-size: 26px;       
    line-height: 1.2;       
    letter-spacing: 0.06em;       
    align-items: center;       
}       
.logo--studio-black{       
    color: $accent-focus-color;       
}       
.logo--studio-white{       
    color: $main-phon-color;       
} 