.close { 
    position: absolute; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 50%; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    top: 8px; 
    right: 8px; 
    width: 30px; 
    height: 30px;
    background-color: $main-phon-color; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} 
.close_icon{ 
    display: flex; 
    width: 18px; 
    height: 18px;
} 