.work-tesis {       
    padding-top: 94px;      
    padding-bottom: 94px;
    & .item{
        &::before{       
        display: block;       
        content: "";       
        min-width: 270px;       
        height:120px;       
        background-size: contain;    
        background-repeat: no-repeat;       
        background-position: center;      
        margin-bottom: 30px;      
        margin-top: 0;
        padding: 0;      
        }
        &:not(:last-child){       
        margin-right: 30px;       
        }
        &.icon-locator::before{       
            background-image: url(../images/Group1.svg);       
        }       
        &.time::before{       
            background-image: url(../images/Group2.svg);       
        }       
        &.grafic::before{       
            background-image: url(../images/Group3.svg);       
        }       
        .future::before{       
            background-image: url(../images/Group4.svg);       
        }
    }
}
.tesis{
    color: $comanda-list-color;       
    width: 270px;       
    height: 75px;       
    font-family: "Roboto";       
    font-style: normal;       
    font-weight: normal;       
    font-size: 14px;       
    line-height: 1.71;       
    letter-spacing: 0.02em;      
    margin-top: 10px;
}

