   
    $main-phon-color: #ffffff;       
    $primery-text-color: rbga(0,0,0,0.5);       
    $accent-color: #2196f3;       
    $button-title-color: #ffffff;       
    $accent-focus-color: #000000;       
    $low-accent-color: #f5f4fa;       
    $hero-phon: #2f303a;       
    $filtr-phon: #f5f4fa;       
    $filtr-title: #212121;
    $header-line-color: #ececec;
    $border-client-card: #afb1b8;
    $social-badge-color: #ffffff10;
    $comanda-list-color: #757575;
    $footer-phon-color: #2f303a;
    $overlay-background-color: #c4c4c4;
    $projects-list-border: #eeeeee;
    $projects-list-shadow: rgba(0,0,0,0.12);